@model Grasews.Web.ViewModels.RequestResetPassword_MvcViewModel

@{
    ViewBag.Title = "Reset password";
}

<!DOCTYPE html>

<html style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grasews</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/icon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @*<meta name="viewport" content="width=device-width" />*@

    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />

    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/plugins/jQuery/jquery.validate.min.js"></script>
    <script src="~/Content/plugins/jQuery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/toastr.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Font Awesome : Begin -->
    <link rel="stylesheet" href="~/Content/plugins/font-awesome/font-awesome.min.css" />
    <!-- Font Awesome : End -->

</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="text-align: center; padding-top: 30px">
                <div class="panel panel-login">
                    <img src="~/Content/img/grasews.png" />
                </div>
            </div>
        </div>

        @using (Html.BeginForm("RequestResetPassword", "Account", FormMethod.Post, new { role = "form", style = "display: block", @id = "login-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", tabindex = 1, placeholder = "E-mail", @type = "email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" tabindex="6" class="form-control btn btn-success">
                            <span class="fa fa-check"></span> Reset the password
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>