@model Grasews.Web.ViewModels.ServiceDescription_MvcViewModel

@{
    ViewBag.Title = WebResource.Details;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasModelReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasModelReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasSchemaMapping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasSchemaMapping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xml)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Xml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CytoscapeGraphJson)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.CytoscapeGraphJson)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { idServiceDescription = Model.Id })" class="btn btn-sm btn-warning">
        <span class="fa fa-pencil" aria-hidden="true"></span>&nbsp;@WebResource.Edit
    </a>

    <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>&nbsp;@WebResource.BackToList
    </a>
</p>

<script>
    $(function () {
        $("#grasews-admin-navbar li").removeClass("active");
        $("#nav-service-descriptions").addClass("active");
    });
</script>