<div class="modal fade" id="modal-task" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@WebResource.Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">@WebResource.CreateANewTask</h4>
            </div>
            <div class="modal-body">

                <div class="panel box box-primary">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_what-is-a-task" aria-expanded="true" class="">
                        <div class="box-header with-border" data-toggle="collapse" data-parent="#accordion">
                            <i class="fa fa-question-circle text-blue"></i>
                            <h5 class="box-title">
                                @WebResource.WhatIsATask
                            </h5>
                        </div>
                    </a>
                    <div id="collapse_what-is-a-task" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="box-body">
                            <div id="div-task-explanation">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        @WebResource.TaskExplanation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="div-task-title">
                    <label>@WebResource.TaskTitle</label>
                    <div class="input-group col-sm-12">
                        <input type="text" class="form-control" id="txt-task-title" placeholder="@WebResource.EnterHereYourTaskTitle" autofocus />
                    </div>
                </div>
                <div class="form-group" id="div-task-description">
                    <label>@WebResource.TaskDescription</label>
                    <div class="input-group col-sm-12">
                        <textarea class="form-control" rows="3" id="txt-task-description" placeholder="@WebResource.EnterHereYourTaskDescription"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@WebResource.Close</button>
                    <button type="button" class="btn btn-primary" id="lnk-add-task" data-dismiss="modal">@WebResource.Create</button>
                </div>
            </div>
        </div>
    </div>
</div>