@model IEnumerable<Grasews.Web.ViewModels.Issue_MvcViewModel>

@{
    ViewBag.Title = string.Format(WebResource.IssuesCreatedBy, ViewBag.LoggedInUserFullName);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    <a href="@Url.Action("Index", "Site")" class="btn btn-sm btn-default">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>&nbsp;@WebResource.BackToTheSystem
    </a>
    <a href="@Url.Action("Create")" class="btn btn-sm btn-success">
        <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;@WebResource.CreateNewIssue
    </a>
</p>
<hr />
@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solved)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Issue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solved)
                </td>
                <td>
                    @Html.ActionLink(WebResource.ViewAnswers, "Answers", new { idIssue = item.Id })
                    @Html.ActionLink(WebResource.Edit, "Edit", new { idIssue = item.Id }) |
                    @Html.ActionLink(WebResource.Details, "Details", new { idIssue = item.Id }) |
                    @Html.ActionLink(WebResource.Delete, "Delete", new { idIssue = item.Id })
                </td>
            </tr>
        }
    </table>
}

<script>
    $(function () {
        $("#grasews-admin-navbar li").removeClass("active");
        $("#nav-tasks").addClass("active");
    });
</script>

